body {
  background-image: url(./Asset/a17ece463c4a257faaba9258648fdf95.png);
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

.flex-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  margin: auto;
  width: 50rem;
  max-height: 32rem;
  background: radial-gradient(50% 72.34% at 50% 50%, #6fa6dc 0%, #a8bbcf 100%);
  opacity: 0.9;
  border-radius: 30px;
}

.search-box {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  width: 658px;
  height: 40px;
  margin-top: 32px;
  background: white;
  border: Mixed solid #8b95ea;
  border-radius: 8px;
}

.search-box img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.search-box input {
  width: 500px;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  color: #8b95ea;
}

.content {
  width: 658px;
  height: 403px;
  background: black;
  background: white;
  opacity: 0.05;
  border-radius: 30px;
}
.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50rem;
  height: 50px;
  background: #98acc7;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: auto;
  left: 50px;
}
.user img {
  width: 45px;
  height: 35px;
  cursor: pointer;
}

.power {
  width: 45px;
  height: 35px;
  margin-right: 50px;
}
/* 
.title-event{
  width: 100px;
  height: 100px;
  background:black;

}

.app{
  width: 100px;
  height: 100px;
  background: black;
}

.sponsor{
  width: 100px;
  height: 100px;
  background:black;
  margin-bottom: 32px;
} */
.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1050px;
  height: 68px;
  bottom: 30px;
  background: linear-gradient(
    180deg,
    rgba(111, 166, 220, 0.3) 0%,
    rgba(168, 187, 207, 0.3) 100%
  );
  border-radius: 18px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: transparent;
  width: 358px;
  height: 44px;
}

.icons img {
  width: 55px;
  height: 45px;
  cursor: pointer;
}
